body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  background-image: url('images.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 290%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #003366;
}

.container {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 500px;
}

h1 {
  color: #d32f2f;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #d32f2f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: #b71c1c;
}

p {
  font-size: 18px;
  color: #005b96;
  margin-top: 20px;
}

#secretFriend {
  font-weight: bold;
  font-size: 24px;
  color: #008000;
  margin-top: 30px;
}

/* Estilos anteriores permanecem os mesmos */

#additionalContent {
  margin-top: 20px;
}

#viewLuizaMarisaButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #00796b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#viewLuizaMarisaButton:hover {
  background-color: #00695c;
}

#luizaMarisaFriends {
  font-size: 18px;
  color: #bf360c;
  margin-top: 15px;
}
